<template>
  <div class="homeClient">
    <h3>Home</h3>
    <p>{{msg}}</p>
  </div>
</template>

<script>
export default {
  name: 'HomeClient',
  data () {
    return {
      msg: 'HELLO !'
    }
  }
}
</script>

<style scoped>
</style>
