<template>
  <div class="products">
    <h3>Products</h3>
    <ul>
      <li v-for="product in productsSmall" :key="product['.key']">
        <router-link :to="{ name: 'ProductDetails', params: { id:product['.key'] }}"> {{ product.name }} - {{product.price}}$</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { firestore } from '@/main.js'
export default {
  name: 'Products',
  data () {
    return {
    }
  },
  firestore () {
    return {
      productsSmall: firestore.collection('productsSmall').where('isDeleted', '==', false).limit(10)
    }
  }
}
</script>

<style scoped>
</style>
