<template>
  <div class="productDetails">
    <h3>Product Details</h3>
    {{product.name}} - {{product.price}} - {{product.description}}
  </div>
</template>

<script>
import { firestore } from '@/main.js'
export default {
  name: 'ProductDetails',
  data () {
    return {}
  },
  firestore () {
    let productsCollection = firestore.collection('products')
     firestore.collection('products').doc(this.$route.params.id).collection('category').doc('4PvGwLzoRa69Fs1Jk4wP').get().then(function (kkchose)
     {
       console.log(kkchose.name)
     })
    return {
      product: productsCollection.doc(this.$route.params.id)
    }
  }
}
</script>

<style scoped>
</style>
