<template>
  <div class="signIn">
    <h3>Sign In</h3>

    <b-form-input id="email" type="email" required placeholder="Enter email" v-model="email"></b-form-input>
    <b-form-input id="pwd" type="password" required placeholder="Enter password" v-model="pwd"></b-form-input>
    <b-button variant="primary" @click="submit()">Sign In</b-button>
  </div>
</template>

<script>
import { firebase } from '@/main.js'
export default {
  name: 'SignIn',
  data () {
    return {
      email: '',
      pwd: ''
    }
  },
  methods: {
    submit: function () {
      let route = this.$router
      firebase.auth().signInWithEmailAndPassword(this.email, this.pwd)
        .then(user => {
          route.replace('admin')
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
</style>
