<template>
  <div class="signin">
    <h3>Sign Up</h3>
    <b-form-input id="email" type="email" required placeholder="Enter email" v-model="email"></b-form-input>
    <b-form-input id="pwd" type="password" required placeholder="Enter password" v-model="pwd"></b-form-input>
    <b-button variant="primary" @click="submit()">Sign Up</b-button>
  </div>
</template>

<script>
import { firebase } from '@/main.js'
export default {
  name: 'SignUp',
  data () {
    return {
      email: '',
      pwd: ''
    }
  },
  methods: {
    submit: function () {
      firebase.auth().createUserWithEmailAndPassword(this.email, this.pwd)
      .catch(function (error) {
        console.log(error)
      })
      // The user is signed automatically
    }
  }
}
</script>

<style scoped>
</style>
