<template>
  <div class="homeAdmin">
    <h3>ADMIN</h3>
  </div>
</template>

<script>
export default {
  name: 'HomeAdmin',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<style scoped>
</style>
