<template>
  <div class="products">
    <h3>CMS - Products</h3>
    <ul>
      <li v-for="product in productsSmall" :key="product['.key']">
        <router-link :to="{ name: 'ProductEdit', params: { id:product['.key'] }}">{{ product[".key"] }} - {{ product.name }} - {{product.price}}$ - Is Deleted : {{product.isDeleted}}</router-link>
        <b-button @click="deleteProduct(product['.key'])">Delete</b-button>
      </li>
    </ul>
  </div>
</template>

<script>
import { firestore } from '@/main.js'
export default {
  name: 'Products',
  data () {
    return {
    }
  },
  firestore () {
    return {
      products: firestore.collection('products'),
      productsSmall: firestore.collection('productsSmall')
    }
  },
  methods: {
    deleteProduct: function (productId) {
      var $db = this.$firestore
      var data = {
        isDeleted: true
      }

      // use Update if you don't change all object attributes
      $db.products.doc(productId).update(data)
      $db.productsSmall.doc(productId).update(data)
    }
  }
}
</script>

<style scoped>
</style>
