<template>
  <div class="productAdd">
    <h3>CMS - Edit a product</h3>
    <b-input type="text" v-model="productName"></b-input>
    <b-input type="number" v-model="productPrice"></b-input>
    <b-form-textarea v-model="productDescription" ></b-form-textarea>
    <b-button @click="editProduct">
      Edit Product
    </b-button>
  </div>
</template>

<script>
import { firestore } from '@/main.js'
export default {
  name: 'ProductEdit',
  data () {
    return {
      productName: '',
      productPrice: 0,
      productDescription: ''
    }
  },
  firestore () {
    return {
      products: firestore.collection('products'),
      productsSmall: firestore.collection('productsSmall')
    }
  },
  mounted () {
    this.$binding('product', firestore.collection('products').doc(this.$route.params.id))
      .then((product) => {
        this.productName = product.name
        this.productPrice = product.price
        this.productDescription = product.description
        console.log(product) // => __ob__: Observer
      }).catch(err => {
        console.error(err)
      })
  },
  methods: {
    editProduct: function () {
      var $db = this.$firestore
      var data = {
        name: this.productName,
        price: this.productPrice,
        description: this.productDescription,
        isDeleted: false
      }

      var dataSmall = {
        name: this.productName,
        price: this.productPrice,
        isDeleted: false
      }

      $db.products.doc(this.$route.params.id).set(data)
      $db.productsSmall.doc(this.$route.params.id).set(dataSmall)
    }
  }
}
</script>

<style scoped>
</style>
