<template>
  <div class="productAdd">
    <h3>CMS - Add a product</h3>
    <b-input type="text" v-model="productName" placeholder="Enter product name"></b-input>
    <b-input type="number" v-model="productPrice" placeholder="15"></b-input>
    <b-form-textarea v-model="productDescription" placeholder="Enter product description" rows="3" max-rows="6"></b-form-textarea>
    <b-button @click="addProduct">
      Add Product
    </b-button>
  </div>
</template>

<script>
import { firestore } from '@/main.js'
export default {
  name: 'ProductAdd',
  data () {
    return {
      productName: '',
      productPrice: 0,
      productDescription: ''
    }
  },
  firestore () {
    return {
      products: firestore.collection('products'),
      productsSmall: firestore.collection('productsSmall')
    }
  },
  methods: {
    addProduct: function () {
      var $db = this.$firestore
      var data = {
        name: this.productName,
        price: this.productPrice,
        description: this.productDescription,
        isDeleted: false
      }

      var dataSmall = {
        name: this.productName,
        price: this.productPrice,
        isDeleted: false
      }

      $db.products.add(data).then(function (ref) {
        $db.productsSmall.doc(ref.id).set(dataSmall)
      })
    }
  }
}
</script>

<style scoped>
</style>
