<template>
  <div class="users">
    <h3>CMS - Users</h3>
    <h4>Users : </h4>
    <ul>
      <li v-for="user in users" :key="user['.key']">
        <router-link :to="{ name: 'UserDetails', params: { id:user['.key'] }}">{{user['.key']}}</router-link>
        {{user}}
      </li>
    </ul>
  
  </div>
</template>

<script>
import { firestore } from '@/main.js'
export default {
  name: 'Users',
  data () {
    return {
        roles: ''
    }
  },
  firestore () {
    return {
        users: firestore.collection('users')

    }
  },
  methods: {
   addRole: function (userID) {
      var $db = this.$firestore
      var data = {
        description: 'une description',
      }

      $db.users.doc(userId).collection('roles').doc(this.roleName).set(data).then(function (ref) {})
    }
  }
}
</script>

<style scoped>
</style>
