<template>
  <div class="userDetail">
    <h3>CMS - {{this.$route.params.id}}</h3>
    <h4>Add role : </h4>

    <b-input type="text" v-model="roleName" placeholder="Enter role name"></b-input>
    <b-button @click="addRole()">
        Add Role
    </b-button>
    <ul>
      <li v-for="role in roles" :key="role['.key']">
        {{role['.key']}} {{role.description}}
      </li>
    </ul>
  </div>
</template>

<script>
import { firestore } from '@/main.js'
export default {
  name: 'UserDetails',
  data () {
    return {
        roleName: ''
     }
  },
  firestore () {
    return {
        roles: firestore.collection('users').doc(this.$route.params.id).collection('roles')
    }
  },
  methods: {
   addRole: function () {
      var $db = this.$firestore
      var data = {
        description: 'une description',
      }

      $db.roles.doc(this.roleName).set(data).then(function (ref) {})
    }
  }
}
</script>

<style scoped>
</style>
