<template>
  <div id="app">
    <h1>Démo fabuleuse</h1>
    <h2>Gestion des produits</h2>
    <h3 v-if="user">Hello {{user.email}} - <a href="#" @click="signOut()">Sign Out</a></h3>
    <router-link to="/">Home</router-link>
    <router-link to="/products">Products</router-link>
    <router-link to="/signIn" v-if="!user">Sign In</router-link>
    <router-link to="/signUp" v-if="!user">Sign Up</router-link>
    <router-link to="/admin" v-if="user">CMS</router-link>
    <router-link to="/productsList" v-if="user">Products list</router-link>
    <router-link to="/addProduct" v-if="user">Add Product</router-link>
    <router-link to="/users" v-if="user">Users</router-link>
    <router-view />
  </div>
</template>

<script>
import { firebase, firestore } from '@/main.js'

export default {
  name: 'App',
  data () {
    return {
      user: ''
    }
  },
  firestore () {
    return {
      users: firestore.collection('users')
    }
  },
  created () {
    this.user = firebase.auth().currentUser

    if (this.user) {
      this.addUser()
    }
  },
  methods: {
    signOut () {
      let route = this.$router
      firebase.auth().signOut().then(function () {
        route.replace('/')
      }).catch(function (error) {
        console.log(error)
      })
    },
    addUser () {
      var $db = this.$firestore
      let mail = this.user.email
      $db.users.doc(mail).get()
        .then(docSnapshot => {
          if (docSnapshot.exists) {
            console.log('exist')
          } else {
            let data = {
              name: 'yolo'
            }
            $db.users.doc(mail).set(data).then(function (ref) {})
          }
        })
    }
  }
}
</script>

<style>
</style>
